.container {
  text-align: center;
}
.signin-btn {
  position: relative;
  top: 5rem;
  padding: 0.7rem;
  background-color: #1876f3;
  color: white;
  border: 1px solid rgba(0, 0, 0, 0.509);
  border-radius: 6px;
  cursor: pointer;
  outline: none;
  font-weight: 700;
  text-decoration: none;
}
.signin-btn:hover {
  background-color: white;
  color: #1876f3;
  transition: 1.2s;
}
