body {
  background-color: #333;
  color: white;
}
.timer-container {
  text-align: center;
}
.double-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 1000px;
  margin: auto;
  justify-items: center;
  align-items: center;
}
